<a href="https://colab.research.google.com/github/Aunek-dc/numpypandas/blob/main/Assignment_3_NumPy_and_Pandas_for_Data_Science.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
"""
Student Performance Dataset Analysis
Dataset Information
Student Performance Dataset (StudentsPerformance.csv)

1000 students with academic performance data
8 columns: gender, race/ethnicity, parental level of education, lunch, test preparation course, math score, reading score, writing score
Score Range: 0-100 for each subject
Demographics: Male/Female, 5 ethnic groups, 6 education levels, standard/free lunch, test prep completed/none
"""

'\nStudent Performance Dataset Analysis\nDataset Information\nStudent Performance Dataset (StudentsPerformance.csv)\n\n1000 students with academic performance data\n8 columns: gender, race/ethnicity, parental level of education, lunch, test preparation course, math score, reading score, writing score\nScore Range: 0-100 for each subject\nDemographics: Male/Female, 5 ethnic groups, 6 education levels, standard/free lunch, test prep completed/none\n'

In [ ]:
#Task 1.1: Data Loading and Exploration
import numpy as np
import pandas as pd
import glob

from google.colab import files, drive
#uploaded = files.upload()
drive.mount('/content/drive')
dfPath=""
for file in glob.glob("/content/drive/MyDrive/**/StudentsPerformance.csv", recursive=True):
    dfPath=(file)

# Load the dataset
df=pd.read_csv(dfPath)
# print(df)

# Your tasks:
# 1. Display first 10 rows
# 2. Show dataset shape and info()
# 3. Display unique values in each categorical column
# 4. Show basic statistics for all score columns


# Your code here:
print("************** Display first 10 rows ************** ")
print(df[0:10])
print("************** Shapes are printed to know size of the dataset **************")
print(df.shape)
print("************** Info printed shows the summary of the data **************")
print(df.info())
print("************** Unique values in each categorical column **************")
categorical_cols=df.select_dtypes(include=['object', 'category']).columns
for col in categorical_cols:
  print(col,df[col].unique())
print("************** Basic statistics for all score columns **************")
df.describe(include='all')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).
************** Display first 10 rows **************
   gender race/ethnicity parental level of education         lunch  \
0  female        group B           bachelor's degree      standard
1  female        group C                some college      standard
2  female        group B             master's degree      standard
3    male        group A          associate's degree  free/reduced
4    male        group C                some college      standard
5  female        group B          associate's degree      standard
6  female        group B                some college      standard
7    male        group B                some college  free/reduced
8    male        group D                 high school  free/reduced
9  female        group B                 high school  free/reduced

  test preparation course  math score  reading score  writing score
0                    none          72             72             74
1               completed          69             90             88
2                    none          90             95             93
3                    none          47             57             44
4                    none          76             78             75
5                    none          71             83             78
6               completed          88             95             92
7                    none          40             43             39
8               completed          64             64             67
9                    none          38             60             50
************** Shapes are printed to know size of the dataset **************
(1000, 8)
************** Info printed shows the summary of the data **************
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   gender                       1000 non-null   object
 1   race/ethnicity               1000 non-null   object
 2   parental level of education  1000 non-null   object
 3   lunch                        1000 non-null   object
 4   test preparation course      1000 non-null   object
 5   math score                   1000 non-null   int64
 6   reading score                1000 non-null   int64
 7   writing score                1000 non-null   int64
dtypes: int64(3), object(5)
memory usage: 62.6+ KB
None
************** Unique values in each categorical column **************
gender ['female' 'male']
race/ethnicity ['group B' 'group C' 'group A' 'group D' 'group E']
parental level of education ["bachelor's degree" 'some college' "master's degree" "associate's degree"
 'high school' 'some high school']
lunch ['standard' 'free/reduced']
test preparation course ['none' 'completed']
************** Basic statistics for all score columns **************

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
count,1000,1000,1000,1000,1000,1000.00000,1000.000000,1000.000000
unique,2,5,6,2,2,NaN,NaN,NaN
top,female,group C,some college,standard,none,NaN,NaN,NaN
freq,518,319,226,645,642,NaN,NaN,NaN
mean,NaN,NaN,NaN,NaN,NaN,66.08900,69.169000,68.054000
std,NaN,NaN,NaN,NaN,NaN,15.16308,14.600192,15.195657
min,NaN,NaN,NaN,NaN,NaN,0.00000,17.000000,10.000000
25%,NaN,NaN,NaN,NaN,NaN,57.00000,59.000000,57.750000
50%,NaN,NaN,NaN,NaN,NaN,66.00000,70.000000,69.000000
75%,NaN,NaN,NaN,NaN,NaN,77.00000,79.000000,79.000000
max,NaN,NaN,NaN,NaN,NaN,100.00000,100.000000,100.000000

In [ ]:
#Task 1.2: NumPy Array Operations
# Convert score columns to numpy arrays
math_scores = df['math score'].values
reading_scores = df['reading score'].values
writing_scores = df['writing score'].values

# Your tasks:
# 1. Calculate mean, median, std, min, max for each subject using NumPy
# 2. Find total students who scored above 80 in math
# 3. Find total students who scored below 50 in any subject
# 4. Calculate the overall average score across all three subjects

# Expected output example:
# Math - Mean: 66.1, Median: 66.0, Std: 15.2
# Students with math > 80: 132
# Students with any score < 50: 178

# Your code here:
print("************** mean, median, std, min, max for each subject **************")
print(f"Math Scores Mean: {np.mean(math_scores)}")
print(f"Math Scores Median: {np.median(math_scores)}")
print(f"Math Scores STD: {np.std(math_scores)}")
print(f"Math Scores Min: {np.min(math_scores)}")
print(f"Math Scores Max: {np.max(math_scores)}")

print(f"Reading Scores Mean: {np.mean(reading_scores)}")
print(f"Reading Scores Median: {np.median(reading_scores)}")
print(f"Reading Scores STD: {np.std(reading_scores)}")
print(f"Reading Scores Min: {np.min(reading_scores)}")
print(f"Reading Scores Max: {np.max(reading_scores)}")

print(f"Writing Scores Mean: {np.mean(writing_scores)}")
print(f"Writing Scores Median: {np.median(writing_scores)}")
print(f"Writing Scores STD: {np.std(writing_scores)}")
print(f"Writing Scores Min: {np.min(writing_scores)}")
print(f"Writing Scores Max: {np.max(writing_scores)}")

print("************** Total students who scored above 80 in math **************")
total_80=math_scores>80
# print(total_80)
print(f"Above 80 in math, there are: {np.count_nonzero(total_80)} persons")

print("************** Total students who scored below 50 in any subject **************")
total_bwlow_50_math=math_scores<50
total_bwlow_50_reading=reading_scores<50
total_bwlow_50_writing=writing_scores<50

print(f"Below 50 in any subject, there are: {np.count_nonzero(total_bwlow_50_math)+ np.count_nonzero(total_bwlow_50_reading)+ np.count_nonzero(total_bwlow_50_writing)} persons in total")

print("************** Overall average score across all three subjects **************")
average= (f"Overall average score across all three subjects is: {(np.sum(math_scores)+np.sum(reading_scores)+np.sum(writing_scores)) / (len(math_scores)+len(reading_scores)+len(writing_scores))}")
print(average)

************** mean, median, std, min, max for each subject **************
Math Scores Mean: 66.089
Math Scores Median: 66.0
Math Scores STD: 15.155496659628149
Math Scores Min: 0
Math Scores Max: 100
Reading Scores Mean: 69.169
Reading Scores Median: 70.0
Reading Scores STD: 14.592890015346516
Reading Scores Min: 17
Reading Scores Max: 100
Writing Scores Mean: 68.054
Writing Scores Median: 69.0
Writing Scores STD: 15.188057281956768
Writing Scores Min: 10
Writing Scores Max: 100
************** Total students who scored above 80 in math **************
Above 80 in math, there are: 176 persons
************** Total students who scored below 50 in any subject **************
Below 50 in any subject, there are: 339 persons in total
************** Overall average score across all three subjects **************
Overall average score across all three subjects is: 67.77066666666667

In [ ]:
# Task 2.1: Identify and Handle Missing Data
# Check the dataset for any missing values
# Your tasks:
# 1. Check for null values in each column using .isnull().sum()
# 2. Check for any impossible values (scores > 100 or < 0)
# 3. Display summary of data quality

# Note: This dataset is clean, but let's verify!

# Your code here:
print("********* Null values in each column *********")
print(df.isnull().sum())

print("********* Check for any impossible values (scores > 100 or < 0) *********")
impossible_values=(
    (math_scores>100)|(math_scores<0)|
    (reading_scores>100)|(reading_scores<0)|
    (writing_scores>100)|(writing_scores<0)
)
# print("Empty?", df[impossible_values])
if df[impossible_values].empty:
  print("No value is >100 or <0")
else:
  print(df[impossible_values])

print("********* Display summary of data quality *********")
data_quality = pd.DataFrame({
    "Data Type": df.dtypes,
    "Missing Values (%)": (df.isnull().sum()/ len(df))*100,
    "Zero Values (%)": ((df == 0).sum()/ len(df))*100
})

print(data_quality)

********* Null values in each column *********
gender                         0
race/ethnicity                 0
parental level of education    0
lunch                          0
test preparation course        0
math score                     0
reading score                  0
writing score                  0
dtype: int64
********* Check for any impossible values (scores > 100 or < 0) *********
No value is >100 or <0
********* Display summary of data quality *********
                            Data Type  Missing Values (%)  Zero Values (%)
gender                         object                 0.0              0.0
race/ethnicity                 object                 0.0              0.0
parental level of education    object                 0.0              0.0
lunch                          object                 0.0              0.0
test preparation course        object                 0.0              0.0
math score                      int64                 0.0              0.1
reading score                   int64                 0.0              0.0
writing score                   int64                 0.0              0.0

In [ ]:
#Task 2.2: Create and Fix Missing Value
# Artificially create missing data for practice
import numpy as np

# Your tasks:
# 1. Make a copy of the dataset: df_practice = df.copy()
# 2. Randomly set 50 math scores to np.nan
# 3. Randomly set 30 writing scores to np.nan
# 4. Fill missing math scores with the MEDIAN math score
# 5. Fill missing writing scores with the MEAN writing score
# 6. Verify no missing values remain

# Steps to follow:
# Step 1: Create copy and show original missing values
df_practice = df.copy()
print("Original missing values:", df_practice.isnull().sum())

# Step 2: Create missing data
np.random.seed(42)  # For reproducible results
missing_math_idx = np.random.choice(df_practice.index, 50, replace=False)
missing_writing_idx = np.random.choice(df_practice.index, 30, replace=False)

# Continue the task...
# Your code here:

# print(missing_math_idx)
# print(missing_writing_idx)
# 2. Randomly set 50 math scores to np.nan
df_practice.loc[missing_math_idx, "math score"]=np.nan
# 3. Randomly set 30 writing scores to np.nan
df_practice.loc[missing_writing_idx, "writing score"]=np.nan

print("Original missing values added:", df_practice.isnull().sum())
# print(df_practice.isnull().sum())

# 4. Fill missing math scores with the MEDIAN math score
median_math_score=df_practice["math score"].median()
# print(median_math_score)
df_practice["math score"]=df_practice["math score"].fillna(median_math_score)
# print(df_practice.isnull().sum())

# 5. Fill missing writing scores with the MEAN writing score
mean_writing_score=df_practice["writing score"].mean()
# print(median_math_score)
df_practice["writing score"]=df_practice["writing score"].fillna(mean_writing_score)

# 6. Verify no missing values remain
print("No missing values :", df_practice.isnull().sum())
# print(df_practice.isnull().sum())

Original missing values: gender                         0
race/ethnicity                 0
parental level of education    0
lunch                          0
test preparation course        0
math score                     0
reading score                  0
writing score                  0
dtype: int64
Original missing values added: gender                          0
race/ethnicity                  0
parental level of education     0
lunch                           0
test preparation course         0
math score                     50
reading score                   0
writing score                  30
dtype: int64
No missing values : gender                         0
race/ethnicity                 0
parental level of education    0
lunch                          0
test preparation course        0
math score                     0
reading score                  0
writing score                  0
dtype: int64

In [ ]:
#Task 3.1:Answer Simple Questions About Student Performance
# Your tasks:
# 1. Display first 5 rows using .head()
# 2. Display last 5 rows using .tail()
# 3. Show dataset shape using .shape
# 4. Show column names using .columns
# 5. Show data types using .dtypes
# 6. Show basic info using .info()

# Your code here:
# 1. Display first 5 rows using .head()
print(df_practice.head())
# 2. Display last 5 rows using .tail()
print(df_practice.tail())
# 3. Show dataset shape using .shape
print(df_practice.shape)
# 4. Show column names using .columns
print(df_practice.columns)
# 5. Show data types using .dtypes
print(df_practice.dtypes)
# 6. Show basic info using .info()
print(df_practice.info())

   gender race/ethnicity parental level of education         lunch  \
0  female        group B           bachelor's degree      standard
1  female        group C                some college      standard
2  female        group B             master's degree      standard
3    male        group A          associate's degree  free/reduced
4    male        group C                some college      standard

  test preparation course  math score  reading score  writing score
0                    none        72.0             72           74.0
1               completed        69.0             90           88.0
2                    none        90.0             95           93.0
3                    none        47.0             57           44.0
4                    none        76.0             78           75.0
     gender race/ethnicity parental level of education         lunch  \
995  female        group E             master's degree      standard
996    male        group C                 high school  free/reduced
997  female        group C                 high school  free/reduced
998  female        group D                some college      standard
999  female        group D                some college  free/reduced

    test preparation course  math score  reading score  writing score
995               completed        88.0             99           95.0
996                    none        62.0             55           55.0
997               completed        59.0             71           65.0
998               completed        68.0             78           77.0
999                    none        77.0             86           86.0
(1000, 8)
Index(['gender', 'race/ethnicity', 'parental level of education', 'lunch',
       'test preparation course', 'math score', 'reading score',
       'writing score'],
      dtype='object')
gender                          object
race/ethnicity                  object
parental level of education     object
lunch                           object
test preparation course         object
math score                     float64
reading score                    int64
writing score                  float64
dtype: object
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   gender                       1000 non-null   object
 1   race/ethnicity               1000 non-null   object
 2   parental level of education  1000 non-null   object
 3   lunch                        1000 non-null   object
 4   test preparation course      1000 non-null   object
 5   math score                   1000 non-null   float64
 6   reading score                1000 non-null   int64
 7   writing score                1000 non-null   float64
dtypes: float64(2), int64(1), object(5)
memory usage: 62.6+ KB
None

In [ ]:
#Task 3.2: Basic Groupby Analysis
# Comprehensive groupby analysis
# Your tasks:

# 1. Group by 'gender' and calculate:
#    - Average scores in all subjects
#    - Count of students

# 2. Group by 'test preparation course' and show:
#    - Mean scores for each subject
#    - Show which subject benefits most from test prep

# 3. Group by 'parental level of education' and calculate:
#    - Average math score for each education level
#    - Rank education levels by math performance

# 4. Group by 'lunch' type and show:
#    - Average scores for each subject
#    - Count of students in each lunch category

# Your code here:

# 1. Group by 'gender' and calculate:
#    - Average scores in all subjects
#    - Count of students
# numeric_cols = df_practice.select_dtypes(include=[np.number]).columns
numeric_cols=df_practice.loc[:, ["math score", "reading score", "writing score"]].columns
group_by_gender=df_practice.groupby("gender")[numeric_cols]
print(" Average scores in all subjects \n",(group_by_gender.mean().sum(axis=1))/3)
print(" Count of students \n",group_by_gender.size().sum())
# 2. Group by 'test preparation course' and show:
#    - Mean scores for each subject
#    - Show which subject benefits most from test prep

print(" Mean scores for each subject \n ", df_practice.groupby("test preparation course")[numeric_cols].mean())
subject_benefits=  df_practice.groupby("test preparation course")[numeric_cols].mean()

# subject_name=[for col in subject_benefits.columns]
# print([for col in ])
max_benifit=subject_benefits.max().max()
# cols=subject_benefits.columns[subject_benefits.max().max().index]
print("Most benefits of subject : ",subject_benefits.max().idxmax(), max_benifit)
# print()

# 3. Group by 'parental level of education' and calculate:
#    - Average math score for each education level
#    - Rank education levels by math performance

print(" *****Group by parental level of education and calculate average math score for each edu level *****")
parentalLevelOfEducation=df_practice.groupby('parental level of education')
print(parentalLevelOfEducation[["math score"]].mean())
print(" *****Group by parental level of education and calculate Rank education levels by math performance *****")
print(parentalLevelOfEducation[["math score"]].mean().sort_values(by="math score",ascending=False))

# 4. Group by 'lunch' type and show:
#    - Average scores for each subject
#    - Count of students in each lunch category

print("****** Group by 'lunch' type ******")

group_by_lunch=df_practice.groupby("lunch")[numeric_cols]

print(group_by_lunch.mean())
print(group_by_lunch.size())

 Average scores in all subjects
 gender
female    69.636764
male      65.779195
dtype: float64
 Count of students
 1000
 Mean scores for each subject
                           math score  reading score  writing score
test preparation course
completed                 69.734637      73.893855      74.063964
none                      64.314642      66.534268      64.475621
Most benefits of subject :  writing score 74.06396360076023
 *****Group by parental level of education and calculate average math score for each edu level *****
                             math score
parental level of education
associate's degree            67.463964
bachelor's degree             69.567797
high school                   62.760204
master's degree               69.406780
some college                  67.234513
some high school              64.122905
 *****Group by parental level of education and calculate Rank education levels by math performance *****
                             math score
parental level of education
bachelor's degree             69.567797
master's degree               69.406780
associate's degree            67.463964
some college                  67.234513
some high school              64.122905
high school                   62.760204
****** Group by 'lunch' type ******
              math score  reading score  writing score
lunch
free/reduced   59.430986      64.653521      63.017392
standard       70.010853      71.654264      70.600113
lunch
free/reduced    355
standard        645
dtype: int64

In [ ]:
#Task 3.3: Use your data analysis skills to answer these easy questions:

# 1. Who performs better in math - males or females?
#    - Calculate average math score by gender
#    - Show the difference between male and female average
print("****** Calculate average math score by gender ******")
print(df_practice.groupby("gender")[['math score']].mean())

print("****** the difference between male and female average ******")
print(df_practice.groupby("gender")['math score'].mean().diff().iloc[-1])

# 2. Which subject do students perform best in overall?
#    - Calculate the overall average for math, reading, and writing
#    - Rank the subjects from highest to lowest average score
print("****** Calculate the overall average for math, reading, and writing ******")
print(df_practice[numeric_cols].mean())
print("****** Rank the subjects from highest to lowest average score ******")
print(df_practice[numeric_cols].mean().sort_values(ascending=False))

# 3. What's the impact of parental education?
#    - Find the average total score for each parental education level
#    - Identify which education level leads to highest student performance
print("****** The average total score for each parental education level ******")

# print(df)
print(parentalLevelOfEducation[numeric_cols].mean().sum(axis=1).sort_values(ascending=False))

print("Leading to highest student performance:", parentalLevelOfEducation[numeric_cols].mean().sum(axis=1).idxmax())

****** Calculate average math score by gender ******
        math score
gender
female   64.247104
male     68.412863
****** the difference between male and female average ******
4.165758823435169
****** Calculate the overall average for math, reading, and writing ******
math score       66.255000
reading score    69.169000
writing score    67.908247
dtype: float64
****** Rank the subjects from highest to lowest average score ******
reading score    69.169000
writing score    67.908247
math score       66.255000
dtype: float64
****** The average total score for each parental education level ******
parental level of education
master's degree       219.605504
bachelor's degree     214.994557
associate's degree    208.205141
some college          205.492733
some high school      196.037568
high school           190.063986
dtype: float64
Leading to highest student performance: master's degree